<a href="https://colab.research.google.com/github/mahhhdy/SBU_DataMining_Python/blob/main/exercise3_part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   initial libs
*   convert date column format

# initial libs

In [94]:
import pandas as pd
import numpy as np
from datetime import datetime
from google.colab import drive

drive.mount('/content/drive')
path='/content/drive/MyDrive/DataSets/BitcoinHistoricalData.csv'

df=pd.read_csv(path)
print(df.shape)
print(df.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(3941, 7)
           Date     Price      Open      High       Low     Vol. Change %
0  May 01, 2021  57,807.1  57,719.1  58,449.4  57,029.5   63.41K    0.15%
1  Apr 30, 2021  57,720.3  53,562.3  57,925.6  53,088.7  103.74K    7.77%
2  Apr 29, 2021  53,560.8  54,838.6  55,173.7  52,400.0   83.90K   -2.34%
3  Apr 28, 2021  54,841.4  55,036.0  56,419.9  53,876.4   86.96K   -0.35%
4  Apr 27, 2021  55,036.5  54,011.1  55,427.8  53,345.0   84.08K    1.88%

# convert date column format

In [95]:
df['Date']= df['Date'].apply(lambda x: datetime.strptime(x, '%b %d, %Y').strftime('%Y-%m-%d'))

In [96]:
df.head()

         Date     Price      Open      High       Low     Vol. Change %
0  2021-05-01  57,807.1  57,719.1  58,449.4  57,029.5   63.41K    0.15%
1  2021-04-30  57,720.3  53,562.3  57,925.6  53,088.7  103.74K    7.77%
2  2021-04-29  53,560.8  54,838.6  55,173.7  52,400.0   83.90K   -2.34%
3  2021-04-28  54,841.4  55,036.0  56,419.9  53,876.4   86.96K   -0.35%
4  2021-04-27  55,036.5  54,011.1  55,427.8  53,345.0   84.08K    1.88%