<a href="https://colab.research.google.com/github/mahhhdy/SBU_DataMining_Python/blob/main/Indicators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# initialize libs

In [207]:
import pandas as pd
import numpy as np
from google.colab import drive
from datetime import datetime

drive.mount('/content/drive')
path='/content/drive/MyDrive/DataSets/LTC_1H.xlsx'

df= pd.read_excel(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [210]:
df.head()
s=open
df[s]

TypeError: ignored

#check for null value and there is not any null value

In [201]:
df.isna().sum()

openTime    0
open        0
high        0
low         0
close       0
volume      0
dtype: int64

# Define MA Functions

In [202]:
def sma(param):
  return df.open.rolling(window=param).mean()

def ema(param):
  return df.open.ewm(span=param,adjust=False).mean()

def smothing(param):
  return 2/(param+1)

def wma5(param):
  weights = np.arange(1,6)
  return df.open.rolling(5).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma7(param):
  weights = np.arange(1,8)
  return df.open.rolling(7).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma10(param):
  weights = np.arange(1,11)
  return df.open.rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma14(param):
  weights = np.arange(1,15)
  return df.open.rolling(14).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma21(param):
  weights = np.arange(1,22)
  return df.open.rolling(21).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)      

def wma25(param):
  weights = np.arange(1,26)
  return df.open.rolling(25).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma50(param):
  weights = np.arange(1,51)
  return df.open.rolling(50).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma100(param):
  weights = np.arange(1,101)
  return df.open.rolling(100).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

# Execute MA Functions

In [203]:
# 5 candel
df["C_SMA_5"]=sma(5)
df["C_S_5"]=smothing(5)
df["C_EMA_5"]=ema(5)
df["C_WMA_5"]=wma5(5)

# 5 candel
df["O_SMA_5"]=sma(5)
df["O_S_5"]=smothing(5)
df["O_EMA_5"]=ema(5)
df["O_WMA_5"]=wma5(5)

# 7 candel
df["O_SMA_7"]=sma(7)
df["O_S_7"]=smothing(7)
df["O_EMA_7"]=ema(7)
df["O_WMA_7"]=wma7(7)

# 10 candel
df["O_SMA_10"]=sma(10)
df["O_S_10"]=smothing(10)
df["O_EMA_10"]=ema(10)
df["O_WMA_10"]=wma10(10)

# 14 candel
df["O_SMA_14"]=sma(14)
df["O_S_14"]=smothing(14)
df["O_EMA_14"]=ema(14)
df["O_WMA_14"]=wma14(14)

# 21 candel
df["O_SMA_21"]=sma(21)
df["O_S_21"]=smothing(21)
df["O_EMA_21"]=ema(21)
df["O_WMA_21"]=wma21(21)

# 25 candel
df["O_SMA_25"]=sma(25)
df["O_S_25"]=smothing(25)
df["O_EMA_25"]=ema(25)
df["O_WMA_25"]=wma25(25)

# 50 candel
df["O_SMA_50"]=sma(50)
df["O_S_50"]=smothing(50)
df["O_EMA_50"]=ema(50)
df["O_WMA_50"]=wma50(50)

# 100 candel
df["O_SMA_100"]=sma(100)
df["O_S_100"]=smothing(100)
df["O_EMA_100"]=ema(100)
df["O_WMA_100"]=wma100(100)

# test dat fram with excel

In [205]:
df.tail()

           openTime    open    high  ...   O_S_100   O_EMA_100   O_WMA_100
8995  1618639200000  325.05  327.50  ...  0.019802  281.360185  287.146556
8996  1618642800000  323.94  329.48  ...  0.019802  282.203349  288.038754
8997  1618646400000  326.93  332.85  ...  0.019802  283.089026  288.975764
8998  1618650000000  330.74  335.69  ...  0.019802  284.032609  289.973069
8999  1618653600000  318.08  322.72  ...  0.019802  284.706815  290.703457

[5 rows x 38 columns]