<a href="https://colab.research.google.com/github/mahhhdy/SBU_DataMining_Python/blob/main/Indicators2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# initialize libs

In [173]:
import pandas as pd
import numpy as np
from google.colab import drive
from datetime import datetime

drive.mount('/content/drive')
path='/content/drive/MyDrive/DataSets/LTC_1H.xlsx'

df= pd.read_excel(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#chack for null value

In [174]:
df.isnull().sum()

openTime    0
open        0
high        0
low         0
close       0
volume      0
dtype: int64

# cast timestamp column

In [175]:
# change openTime column to string 
df.openTime = df.openTime.astype(str)

# get substring of open time column
df.openTime = df.openTime.str.slice(stop=10)

In [176]:
# cast timestamp column to date time 
df.openTime=pd.to_datetime(df.openTime,unit='s')

#test

In [177]:
df.head(3)

             openTime   open   high    low  close       volume
0 2020-04-06 23:00:00  44.41  45.09  44.24  45.04  36293.78372
1 2020-04-07 00:00:00  45.03  46.06  44.90  45.51  74366.74566
2 2020-04-07 01:00:00  45.49  46.29  45.49  45.62  38848.42165

In [178]:
# def edit(row):
#   crossing = row['crossing']
#   if crossing == True:
#     return '123'
#   else:
#     return '***'

# df_open['crossing1']=df.apply(edit , axis = 1)

def check_cross(col1,col2):
  return ''

In [181]:
df_open=pd.DataFrame()
param1='open'
param2='high'
check_cross(param1,param2)

df_open[''+param1+''] = df[''+param1+'']
df_open[''+param2+''] = df[''+param2+'']

df_open['previous_'+param1+''] = df_open[''+param1+''].shift(1)
df_open['previous_'+param2+''] = df_open[''+param2+''].shift(1)

In [182]:
df_open['crossing'] = (((df_open[''+param1+''] <= df_open[''+param2+'']) & (df_open['previous_'+param1+''] >= df_open['previous_'+param2+''])) 
  | ((df_open[''+param1+''] >= df_open[''+param2+'']) & (df_open['previous_'+param1+''] <= df_open['previous_'+param2+''])))

# df_open.drop(columns = ['previous_15','previous_45'],inplace=True)
df_open.head(15)

     open   high  previous_open  previous_high  crossing
0   44.41  45.09            NaN            NaN     False
1   45.03  46.06          44.41          45.09     False
2   45.49  46.29          45.03          46.06     False
3   45.62  45.77          45.49          46.29     False
4   45.13  45.70          45.62          45.77     False
5   45.65  45.65          45.13          45.70      True
6   45.18  45.73          45.65          45.65      True
7   45.64  45.94          45.18          45.73     False
8   45.94  46.47          45.64          45.94     False
9   46.42  46.47          45.94          46.47     False
10  46.21  46.42          46.42          46.47     False
11  46.40  46.75          46.21          46.42     False
12  46.63  46.64          46.40          46.75     False
13  46.38  47.64          46.63          46.64     False
14  45.99  47.15          46.38          47.64     False