<a href="https://colab.research.google.com/github/mahhhdy/SBU_DataMining_Python/blob/main/Indicators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# initialize libs

In [260]:
import pandas as pd
import numpy as np
from google.colab import drive
from datetime import datetime

drive.mount('/content/drive')
path='/content/drive/MyDrive/DataSets/LTC_1H.xlsx'

df= pd.read_excel(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [261]:
df.head()

# for col in df.columns:
#     print(col)

# if(df.columns[1]=='open'):
#   print(123)

        openTime   open   high    low  close       volume
0  1586214000000  44.41  45.09  44.24  45.04  36293.78372
1  1586217600000  45.03  46.06  44.90  45.51  74366.74566
2  1586221200000  45.49  46.29  45.49  45.62  38848.42165
3  1586224800000  45.62  45.77  44.84  45.15  30427.95046
4  1586228400000  45.13  45.70  44.87  45.65  21840.27801

#check for null value and there is not any null value

In [262]:
df.isna().sum()

openTime    0
open        0
high        0
low         0
close       0
volume      0
dtype: int64

# Define MA Functions

In [263]:
def sma(param,param2):
  return df[df.columns[param2]].rolling(window=param).mean()

def ema(param,param2):
  return df[df.columns[param2]].ewm(span=param,adjust=False).mean()

def smothing(param):
  return 2/(param+1)

def wma5(param,param2):
  weights = np.arange(1,6)
  return df[df.columns[param2]].rolling(5).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma7(param,param2):
  weights = np.arange(1,8)
  return df[df.columns[param2]].rolling(7).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma10(param,param2):
  weights = np.arange(1,11)
  return df[df.columns[param2]].rolling(10).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma14(param,param2):
  weights = np.arange(1,15)
  return df[df.columns[param2]].rolling(14).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma21(param,param2):
  weights = np.arange(1,22)
  return df[df.columns[param2]].rolling(21).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)      

def wma25(param,param2):
  weights = np.arange(1,26)
  return df[df.columns[param2]].rolling(25).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma50(param,param2):
  weights = np.arange(1,51)
  return df[df.columns[param2]].rolling(50).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

def wma100(param,param2):
  weights = np.arange(1,101)
  return df[df.columns[param2]].rolling(100).apply(lambda prices: np.dot(prices, weights)/weights.sum(), raw=True)

# Execute MA Functions

In [264]:
#@title Open

In [265]:
# 5 candel
dfOpen  = df
dfOpen.drop(columns=['high','low','close','volume'],inplace=True)
dfOpen['openTime']=df.openTime
dfOpen['open']=df.open
dfOpen["O_SMA_5"]=sma(5,1)
# dfOpen["O_S_5"]=smothing(5)
dfOpen["O_EMA_5"]=ema(5,1)
dfOpen["O_WMA_5"]=wma5(5,1)

# # 7 candel
# df["O_SMA_7"]=sma(7,1)
# df["O_S_7"]=smothing(7)
# df["O_EMA_7"]=ema(7,1)
# df["O_WMA_7"]=wma7(7,1)

# # 10 candel
# df["O_SMA_10"]=sma(10,1)
# df["O_S_10"]=smothing(10)
# df["O_EMA_10"]=ema(10,1)
# df["O_WMA_10"]=wma10(10,1)

# # 14 candel
# df["O_SMA_14"]=sma(14,1)
# df["O_S_14"]=smothing(14)
# df["O_EMA_14"]=ema(14,1)
# df["O_WMA_14"]=wma14(14,1)

# # 21 candel
# df["O_SMA_21"]=sma(21,1)
# df["O_S_21"]=smothing(21)
# df["O_EMA_21"]=ema(21,1)
# df["O_WMA_21"]=wma21(21,1)

# # 25 candel
# df["O_SMA_25"]=sma(25,1)
# df["O_S_25"]=smothing(25)
# df["O_EMA_25"]=ema(25,1)
# df["O_WMA_25"]=wma25(25,1)

# # 50 candel
# df["O_SMA_50"]=sma(50,1)
# df["O_S_50"]=smothing(50)
# df["O_EMA_50"]=ema(50,1)
# df["O_WMA_50"]=wma50(50,1)

# # 100 candel
# df["O_SMA_100"]=sma(100,1)
# df["O_S_100"]=smothing(100)
# df["O_EMA_100"]=ema(100,1)
# df["O_WMA_100"]=wma100(100,1)

In [266]:
#@title High

In [267]:
# # 5 candel
# df["H_SMA_5"]=sma(5,2)
# df["H_S_5"]=smothing(5)
# df["H_EMA_5"]=ema(5,2)
# df["H_WMA_5"]=wma5(5,2)

# # 7 candel
# df["H_SMA_7"]=sma(7,2)
# df["H_S_7"]=smothing(7)
# df["H_EMA_7"]=ema(7,2)
# df["H_WMA_7"]=wma7(7,2)

# # 10 candel
# df["H_SMA_10"]=sma(10,2)
# df["H_S_10"]=smothing(10)
# df["H_EMA_10"]=ema(10,2)
# df["H_WMA_10"]=wma10(10,2)

# # 14 candel
# df["H_SMA_14"]=sma(14,2)
# df["H_S_14"]=smothing(14)
# df["H_EMA_14"]=ema(14,2)
# df["H_WMA_14"]=wma14(14,2)

# # 21 candel
# df["H_SMA_21"]=sma(21,2)
# df["H_S_21"]=smothing(21)
# df["H_EMA_21"]=ema(21,2)
# df["H_WMA_21"]=wma21(21,2)

# # 25 candel
# df["H_SMA_25"]=sma(25,2)
# df["H_S_25"]=smothing(25)
# df["H_EMA_25"]=ema(25,2)
# df["H_WMA_25"]=wma25(25,2)

# # 50 candel
# df["H_SMA_50"]=sma(50,2)
# df["H_S_50"]=smothing(50)
# df["H_EMA_50"]=ema(50,2)
# df["H_WMA_50"]=wma50(50,2)

# # 100 candel
# df["H_SMA_100"]=sma(100,2)
# df["H_S_100"]=smothing(100)
# df["H_EMA_100"]=ema(100,2)
# df["H_WMA_100"]=wma100(100,2)

In [268]:
#@title Low

In [269]:
# # 5 candel
# df["L_SMA_5"]=sma(5,3)
# df["L_S_5"]=smothing(5)
# df["L_EMA_5"]=ema(5,3)
# df["L_WMA_5"]=wma5(5,3)

# # 7 candel
# df["L_SMA_7"]=sma(7,3)
# df["L_S_7"]=smothing(7)
# df["L_EMA_7"]=ema(7,3)
# df["L_WMA_7"]=wma7(7,3)

# # 10 candel
# df["L_SMA_10"]=sma(10,3)
# df["L_S_10"]=smothing(10)
# df["L_EMA_10"]=ema(10,3)
# df["L_WMA_10"]=wma10(10,3)

# # 14 candel
# df["L_SMA_14"]=sma(14,3)
# df["L_S_14"]=smothing(14)
# df["L_EMA_14"]=ema(14,3)
# df["L_WMA_14"]=wma14(14,3)

# # 21 candel
# df["L_SMA_21"]=sma(21,3)
# df["L_S_21"]=smothing(21)
# df["L_EMA_21"]=ema(21,3)
# df["L_WMA_21"]=wma21(21,3)

# # 25 candel
# df["L_SMA_25"]=sma(25,3)
# df["L_S_25"]=smothing(25)
# df["L_EMA_25"]=ema(25,3)
# df["L_WMA_25"]=wma25(25,3)

# # 50 candel
# df["L_SMA_50"]=sma(50,3)
# df["L_S_50"]=smothing(50)
# df["L_EMA_50"]=ema(50,3)
# df["L_WMA_50"]=wma50(50,3)

# # 100 candel
# df["L_SMA_100"]=sma(100,3)
# df["L_S_100"]=smothing(100)
# df["L_EMA_100"]=ema(100,3)
# df["L_WMA_100"]=wma100(100,3)

In [270]:
#@title Close

In [271]:
# # 5 candel
# df["C_SMA_5"]=sma(5,4)
# df["C_S_5"]=smothing(5)
# df["C_EMA_5"]=ema(5,4)
# df["C_WMA_5"]=wma5(5,4)

# # 7 candel
# df["C_SMA_7"]=sma(7,4)
# df["C_S_7"]=smothing(7)
# df["C_EMA_7"]=ema(7,4)
# df["C_WMA_7"]=wma7(7,4)

# # 10 candel
# df["C_SMA_10"]=sma(10,4)
# df["C_S_10"]=smothing(10)
# df["C_EMA_10"]=ema(10,4)
# df["C_WMA_10"]=wma10(10,4)

# # 14 candel
# df["C_SMA_14"]=sma(14,4)
# df["C_S_14"]=smothing(14)
# df["C_EMA_14"]=ema(14,4)
# df["C_WMA_14"]=wma14(14,4)

# # 21 candel
# df["C_SMA_21"]=sma(21,4)
# df["C_S_21"]=smothing(21)
# df["C_EMA_21"]=ema(21,4)
# df["C_WMA_21"]=wma21(21,4)

# # 25 candel
# df["C_SMA_25"]=sma(25,4)
# df["C_S_25"]=smothing(25)
# df["C_EMA_25"]=ema(25,4)
# df["C_WMA_25"]=wma25(25,4)

# # 50 candel
# df["C_SMA_50"]=sma(50,4)
# df["C_S_50"]=smothing(50)
# df["C_EMA_50"]=ema(50,4)
# df["C_WMA_50"]=wma50(50,4)

# # 100 candel
# df["C_SMA_100"]=sma(100,4)
# df["C_S_100"]=smothing(100)
# df["C_EMA_100"]=ema(100,4)
# df["C_WMA_100"]=wma100(100,4)

# test data fram with excel

In [272]:
dfOpen.tail()

           openTime    open  O_SMA_5     O_EMA_5     O_WMA_5
8995  1618639200000  325.05  324.914  322.879553  324.504000
8996  1618642800000  323.94  324.824  323.233036  324.179333
8997  1618646400000  326.93  324.308  324.465357  324.881333
8998  1618650000000  330.74  325.740  326.556905  327.025333
8999  1618653600000  318.08  324.948  323.731270  324.472000

In [273]:
# df.to_excel('ltc_1h.xlsx', sheet_name = 'New_sheet')