<a href="https://colab.research.google.com/github/mahhhdy/SBU_DataMining_Python/blob/main/regression_on_ltc_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#initial lib

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from google.colab import drive

drive.mount('/content/drive')
path='/content/drive/MyDrive/DataSets/LTC_1H.xlsx'

df=pd.read_excel(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
#@title Check for null value
df.isnull().sum()

openTime    0
open        0
high        0
low         0
close       0
volume      0
dtype: int64

In [52]:
#@title cast timestamp column

# change openTime column to string 
df.openTime  = df.openTime.astype(str)

# get substring of open time column
df.openTime =  df.openTime.str.slice(stop=10)

In [53]:
df.openTime = pd.to_datetime(df.openTime,unit='s')

In [54]:
df['mean'] = (df.open+df.high+df.low+df.close)/4
df.head()

             openTime   open   high    low  close       volume     mean
0 2020-04-06 23:00:00  44.41  45.09  44.24  45.04  36293.78372  44.6950
1 2020-04-07 00:00:00  45.03  46.06  44.90  45.51  74366.74566  45.3750
2 2020-04-07 01:00:00  45.49  46.29  45.49  45.62  38848.42165  45.7225
3 2020-04-07 02:00:00  45.62  45.77  44.84  45.15  30427.95046  45.3450
4 2020-04-07 03:00:00  45.13  45.70  44.87  45.65  21840.27801  45.3375

In [55]:
df1=df['mean'].iloc[2:6]